.box{width:100%; height:300px; background:#ededee; border: 1px solid #c9c9c9; margin:20px 0px;}

.box:hover{width:100%; height:300px; background:#dfdfdf; border: 1px solid #c9c9c9; box-shadow:5px 5px 15px #616161; margin-top: -1px;}